html {
    scroll-behavior: smooth;
}

* {
    font-family: var(--font-main);
    font-weight: 500;
    color: var(--main-text-color);
}

//content 1500px
header,
footer,
section {
    padding: 0 calc(50% - 750px);
}