:root {
    --font-main: "Inter", sans-serif;
    --white-color: rgb(229, 229, 229);
    --accent-color: rgb(65, 245, 192);
    --main-text-color: rgb(12, 21, 35);
    --gray-color: rgba(12, 21, 35, 0.7);
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}