.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(195, 220, 231);
	padding-top: 50px;
	padding-bottom: 50px;
}
.header--navigation{
	display: flex;
}