.header {
    display: flex;
    align-items: center;
    column-gap: 120px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid rgba(12, 21, 35, 0.1);
    position: relative;
    z-index: 10;
    background: transparent;
    .logo {
        width: 90px;
        height: 45px;
    }
}

.header--navigation__desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 750px;
}

.header--navigation__desktop--pages {
    display: flex;
    column-gap: 34px;
    p {
        a {
            color: var(--gray-color);
            font-size: 18px;
            line-height: 22px;
        }
        &.active {
            a {
                color: var(--text-color);
                font-weight: 600;
            }
        }
    }
}

.header--navigation__desktop--account {
    display: flex;
    column-gap: 30px;
}

.header--navigation__desktop--account__login {
    color: var(--white-color);
    font-size: 18px;
    line-height: 22px;
    padding: 15px 20px;
    border-radius: 9px;
    border: 1px solid transparent;
    &:hover {
        border: 1px solid var(--main-text-color);
        background-color: #ffffff2a;
    }
}

.header--navigation__desktop--account__create {
    font-size: 16px;
    line-height: 19px;
    padding: 15px 25px;
    border-radius: 9px;
    background: var(--accent-color);
    &:hover {
        background-color: rgb(42, 192, 147);
    }
}

@media (max-width:1400px) {
    .header--navigation__desktop {
        column-gap: 500px;
    }
}

@media (max-width:1100px) {
    .header--navigation__desktop {
        column-gap: 250px;
    }
    .header {
        column-gap: 60px;
        .logo {
            img {
                max-width: unset;
            }
        }
    }
}

@media (max-width:800px) {
    .header {
        justify-content: space-between;
    }
    .header--navigation__desktop {
        display: none;
    }
}